*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none !important; 
}
label {
    font-size: 0.8rem;
}
.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.navbar-toggler-custom {
    border: none;   
}
.navbar-toggler-icon {
    display: block;
    width: 20px;
    height: 2px;
    background: #CB0017;
}
.navbar-toggler-icon:not(:first-child) {
    margin-top: 5px;
}
.pad-r {
    padding-right: 15px;
}
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidepanel a {
    font-size: 25px;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #CB0017;
}
.user {
    background-color: #fff;
    padding: 0 40px 40px 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.avatar-card {
    width: 150px;
    height: 150px;
    border: 1px solid #CB0017;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.contact i {
    font-size: 50px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #CB0017;
}
.menu-list {
    background-color: #CB0017;
    padding: 10px 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100vh;
}
.memu-list-a {
    text-decoration: none;
    color: #fff;
}
.memu-list-a:focus {
    text-decoration: none;
    color: #fff;
}
.menu-list-li {
    padding-bottom: 20px;
    list-style: none;
    font-size: 22px;
    width: 100%;
}
.menu-list-li-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow:none;
}
.list-btn {
    background-color: #fff;
}
.fnt-s {
    font-size: 14px;
}
.pad-l {
    padding-left: 15px;
}
.modal-header {
    background-color: #CB0017;
    color: #fff;
}
.popbtn  {
    width: 100%;
    text-align: center;   
}
.close {
    color: #fff;
    opacity: 1;
}
.close:not(:disabled):not(.disabled):hover, 
.close:not(:disabled):not(.disabled):focus {
    opacity: 1;
    color: #fff;
}
.searcBtn {
    padding: 10px 40px;
    border: none;
    outline: none;
    background-color: #CB0017;
    color: #fff;
    border-radius: 29px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.modal-footer {
    justify-content: space-around !important;
}
.fbbtn {
    background-color: #039BE5;  
}
.fab {
    margin-right: 15px;
}
/* header styles */

.mainContainer {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url(../img/mainBKG1x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.tab-content {
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}
.fromtoflight {
    background-color: #E16E7B;
    outline: none;
    border: none;
    border-radius: 34px;
}
.fromtoflight::placeholder {
    color: #fff;
    background-image: url(../img/pin1x.png);
    background-repeat: no-repeat;
    padding-left: 15px;
    font-size: 13px; 
}
.fromtoflight:disabled, .fromtoflight[readonly] {
    background-color: #E16E7B;
    
}
.changeFlt {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
}
.hasDatepicker {
    cursor: pointer;
}
.calendar {
    background-image: url(../img/calx1.png);
    padding: 20px 18px;
    top: 0;
}
.quantity input {
    text-align: center;
}
.quantity input:focus {
    outline: 0;
}
.quantity-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
    align-items: center;
    background-color: #ffffff;
}
.quantity-button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.quantity-button.quantity-up {
    width: 13px;
    height: 13px;
}
.quantity-button.quantity-down {
    width: 13px;
    height: 13px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
  font-family: 'Open Sans';
  font-weight: 500;
  font-size: 15px;
  color: #707070;
  padding: 0;
}
.arrowwraper {
    display: flex;
    flex-direction: row;
}
/* index page main styles */


.mainContainerResult {
    width: 100%;
    height: 100vh;
    background-image: url(../img/resultbkg1x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.resultPageSearch {
    width: 100%;
    background-color: #CB0017;
}
.fromtoflightReult {
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 20px; 
}
.fromtoflightReult::placeholder {
    font-family: 'Open Sans';
    background-repeat: no-repeat;
    font-size: 12px; 
}
.fromtoflightReult:disabled, .fromtoflightReult[readonly] {
    background-color: #fff;
}
.changeFltResult {
    background-color: #CB0017;
    border: none;
    outline: none;
    cursor: pointer;
    width: 30px;
}
.borderRadius {
    border-radius: 34px;
}
.dropDown {
    border: none;
    -webkit-appearance: none;
    margin: 0 auto;
}

.dropDown:focus option {
    background-color:#CB0017;
    color: #fff;
}
.dropDown:hover option {
    background-color:#CB0017;
    color: #fff;
}
.ressearcBtn {
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #CB0017;
    border-radius: 34px;
    cursor: pointer;
}
.breadcrumb-item a {
    color: #707070;
}
.breadcrumb-item.active {
    color: #CB0017;
}
.breadcrumb-item.active::before {
    content: ">"
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">"
}
.iata {
    font-size: 11px;
    font-weight: 400;
    text-align: center;
}
.textStyle {
    font-weight: 600;
    color: #707070;
}
.tktprice {
    font-weight: 600;
    color: #707070;
    font-size: 26px;
}
.priceBtn {
    border: none;
    outline: none;
    background-color: #CB0017;
    color: #fff;
}
.priceBtna {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #CB0017;
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
}
.details {
  background-color: #ffffff;
  color: #707070;
  border: none;
  outline: none !important;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 2px;
  font-size: 1em;
}
.ResultDetailsDate {
    background-color: #CB0017;
    border-radius: 34px;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 0 ;
}
.ResultDetailsFromto {
    font-size: 14px;
}
.ResultDetailsDur {
    font-size: 14px;
}
.passengers {
    font-size: 14px;
}
.detailbtn {
    font-size: 12px;
    background-color: #CB0017;
    color: #fff;
    border-radius: 34px;
}
.trevelFlightDetailsTitle {
    color: #707070;
    font-family: 'Open sans';
    margin-bottom: 20px;
}
/* result page main styles */


.mainContainerTravel {
    background-image: url(../img/resultbkg1x.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.dcol {
    flex-direction: column;
    justify-content: flex-start;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #707070;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #CB0017;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.on {
    display: none;
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 30%;
    font-size: 13px;
    font-weight: 600;
}
.off {
    color: white;
    position: absolute;
    transform: translate(50%,-50%);
    top: 50%;
    left: 60%;
    font-size: 13px;
    font-weight: 600;
}
input:checked+ .slider .on
{display: block;}
input:checked + .slider .off
{display: none;}
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* travelers page main styles */



.footerAddress {
    color: #fff;
    font-size: 10px;
    height: 65px;
    margin-top: 20px;
}
.footerTitle {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin: 20px 0 15px 0;
}
.footerTxt {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 12px;
}
.footerTxt span {
    margin-bottom: 5px;
}
.socialTitle {
    margin: 15px 0;
}
.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin-bottom: 25px;
}
.ftimg1 {
    width: 15px;
    height: 30px;
}
.ftimg2 {
    width: 30px;
    height: 30px;
}
.ftimg3 {
    width: 40px;
    height: 30px;
}
.footerContent {
    border-bottom: 1px solid #fff;
}
.footer {
    width: 100%;
    background-color: #CB0017;
}
/* footer styles */






@media (max-width: 990px) {
    .border-right {
    border-right: none !important;
    }
    .pad-l {
        padding-left: 0px;
    }
    .pad-r {
        padding-right: 0px;
    }
}
@media (min-width: 990px) {
    #burgerMenu {
        display: none !important;
    }
}
@media (max-width: 440px) {
    .menu-list-li-btn img {
        display: none !important;
    }
}
@media (max-width: 375px) {
    .fab {
        margin-right: 10px;
    }
    .searcBtn {
        padding: 13px 30px;
    }
}
@media (max-width: 576px) {
    .mainContainer, .mainContainerResult {
        height: 100%;
    }
}
@media (max-width: 992px) {
     .mainContainerResult {
        height: 100%;
    }
}
@media (min-width: 575px) {
    .hasDatepicker {
        border: none;
    }
}
@media (max-width: 575px) {
    .calendar {
        padding: 0;
        top: 0;
    }
}












































/* .navbar-toggler-custom:focus {
    outline: none;
} */



/* #burgerMenu {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    height: 100vh;
    
    
} */

/* .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
} */

/* .fa-times {
    top: 28px;
    font-size: 30px;
    z-index: 9999;
    display: block;
    position: fixed;
    left: 80%;
    color: #CB0017;
} */
/* .menu {
    height: 100vh;
} */

/* .menu-list li a {
    list-style: none;
    margin: 20px 0;
    position: relative;
    font-family: OpenSans;
    text-rendering: optimizeLegibility;
    font-size: 22px;
    color: #fff;
} */






/* .modal-header a {
    text-decoration: none;
    color: #fff;
} */
/* .popupForm {
    padding: 30px 45px;
    display: flex;
    flex-direction: column;
} */
/* .popupForm input {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #cecece;
    outline: none;
    padding: 0 25px;
    margin-bottom: 30px;
} */











/* .contheight {
    height: calc(100vh - 80px);
} */








  /* .calendarWraper {
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      align-content: center;
      border-radius: 20px;
  } */



 



















/* 
.male {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.male .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
    margin: 33px 62px;
    float: left;
}
.male span:first-child {
    position: absolute;
    left: -47px;
    color: #666666;
    font-size: 18px;
}
.male .switch input {
    display: none;
} */


  

  



  .switch2 {
    /* position: relative; */
    /* display: inline-block; */
    width: 80px;
    /* height: 30px; */
  }
  
  /* .switch2 input { 
    opacity: 0;
    width: 0;
    height: 0;
  } */
  
  /* .slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #707070;
    -webkit-transition: .4s;
    transition: .4s;
  } */
  
  /* .slider2:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider2 {
    background-color: #CB0017;
  }
  
  input:focus + .slider2 {
    box-shadow: 0 0 1px #2196F3;
  }
   */
  input:checked + .slider2:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
  }
  .on2
{
  display: none;
}

.on2
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 30%;
  font-size: 13px;
  font-weight: 600;
  /* font-family: Verdana, sans-serif; */
}
.off2
{
  color: white;
  position: absolute;
  transform: translate(50%,-50%);
  top: 50%;
  left: 12%;
  font-size: 13px;
  font-weight: 600;
  /* font-family: Verdana, sans-serif; */
}
input:checked+ .slider .on2
{display: block;}

input:checked + .slider .off2
{display: none;}
  
  /* Rounded sliders */
  /* .slider2.round2 {
    border-radius: 34px;
  }
  
  .slider2.round2:before {
    border-radius: 50%;
  } */

  .on3
{
  display: none;
}

.on3
{
  color: #707070;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 140%;
  font-size: 14px;
  font-weight: 600;
  /* font-family: Verdana, sans-serif; */
}
.off3
{
  color: #707070;
  position: absolute;
  transform: translate(50%,-50%);
  top: 50%;
  left: 80%;
  font-size: 14px;
  font-weight: 600;
  /* font-family: Verdana, sans-serif; */
}
input:checked+ .slider .on3
{display: block;}

input:checked + .slider .off3
{display: none;}











  
  
  
  /* .sidepanel a:hover {
    color: #f1f1f1;
  } */
  

  
  /* .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  } */

  /* .togglebtn {
      background-color: transparent;
      border: none;
  } */